<div id="menu8">
  <ul>
	<li><%= link_to "Road Robberies ", roadcrimes_path%> </li>
	<li><%= link_to "Cattle Rustlings ", cattlethefts_path%> </li>
	
	<li><%= link_to "Firearms ", firearms_path%> </li>
	
  </ul>
</div>
